@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');


:root {
    --background-color-one: #f4f5f6;
    --header-background: #01030a;
    --background-color-two: #fff;
    --font-color-one: #f0ebeb;
    --font-color-two: #1c1a1a;
    --hero-button-border-color: #f0ebeb96;
    --section-button-border-color: #1c1a1a8e;
    --footer-background: #fbfbfb;
    --background-mask: #00000081;
    --action-button-color-one: #ffffff00;
    --action-button-color-two: #01030a;
    --profile-border-color: #fff;
    --shadow: -16px 13px 19px -3px #0000001f;
}
  
* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 1200px;
    margin: 0px;
    padding: 0px;
    color: #fff;
    background-color: var(--background-color-one);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
  }
  

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}


.center {
    justify-content: center;
    text-align: center;
}  

.align-items-center {
    align-items: center;
}

.gap-10 {
    gap: 10px;
}

.gap-50 {
    gap: 40px;
}

header {
    height: 56px;
    display: flex;
    justify-content: space-between;
    background-color: var(--header-background);
    
}

header a {
    font-size: 16px;
    font-weight: 500;
    color: var(--font-color-one);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.25s ease-in-out;
  
    &:hover {
      text-decoration: underline;
    }
}

.logo-container {
    padding-top: 10px;
    width: 100px;
    height: 50px;
}

.logo {
    background:#ffffff00 url('../media/logo.png') center / cover no-repeat;
    background-size: contain;
    width: 100px;
    height: 40px;
}

nav {
    padding-top: 20px;
}


.secondary-hero-container{
    width: 100%;
    height: 500px;
    position: relative;
}

.secondary-hero-image{
    background: url("../media/landing-page.jpg") center / cover;
    height: 100%;
    width: 100%;
}

.secondary-hero-image:before {
    position: absolute;
    background-color: var(--background-mask);
    z-index: 1;
    content: "";
    height: 100%;
    width: 100%;
}

.secondary-hero-text {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 15px;
    z-index: 2;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--font-color-one);

    div h1,h2,p{
        text-align: center;
    }
}

.link a {
    color: var(--font-color-one);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.25s ease-in-out;
  
    &:hover {
      text-decoration: none;
      -webkit-animation: bounce 2.5s ease-in-out infinite;
         -moz-animation: bounce 2.5s ease-in-out infinite;
              animation: bounce 2.5s ease-in-out infinite;
    }
}
  
  @-moz-keyframes bounce {
    0%, 50%, 100% { -moz-transform: translateY(0); }
    25% { -moz-transform: translateY(-15px); }
    75% { -moz-transform: translateY(-15px); }
  }
  
  @-webkit-keyframes bounce {
    0%, 50%, 100% { -webkit-transform: translateY(0); }
    25% { -webkit-transform: translateY(-15px); }
    75% { -webkit-transform: translateY(-15px); }
  }
  
  @keyframes bounce {
    0%, 50%, 100% {transform: translateY(0); }
    25% { transform: translateY(-15px); }
    75% { transform: translateY(-15px); }
  }
  

.button {
    background-color: var(--action-button-color-one);
    height: 50px;
    width: 200px;
    text-align: center;
    border: 2px solid var(--hero-button-border-color);
    border-radius: 40px;
    a {
        text-decoration: none;
    }
    p {
        color: var(--font-color-one);
        margin-top: 10px;
        -webkit-text-stroke-width: 0.5px;
    }
    &:hover{
        opacity: 0.8;
    }
}

section, section {
    margin-bottom: 50px;
}

.content-section {
    color: var(--font-color-two);
    p{
        text-align: left;
        margin: 15px 0px;
    }
    h4{
        margin-bottom: 1px;
    }
}

.form-section {
    color: var(--font-color-two);
    p{
        margin: 15px 0px;
    }
}

.profile-image-container {
    width: 100%;
    height: 150px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.profile-image {
  background: url("../media/profile-image.jpg") center /cover no-repeat;
  width: 140px;
  height: 140px;
  border-radius: 100px;
  border: 5px solid var(--profile-border-color);
}

.section-button { 
    background-color: var(--action-button-color-two);
    height: 50px;
    width: 200px;
    text-align: center;
    border: 2px solid var(--section-button-border-color);
    border-radius: 5px;
    a {
        text-decoration: none;
    }
    p {
        text-align: center;
        color: var(--font-color-one);
        margin-top: 10px;
        -webkit-text-stroke-width: 0.5px;
    }
    &:hover{
        opacity: 0.8;
    }
}

article, aside {
    padding: 10px 20px;
    background-color: var(--background-color-one);
    border-radius: 10px;
}

article {
    min-width: calc(40% - 10px);
    height: 100%;
}


input {
  width: calc(100%);
  margin-top: 15px;
  border: 1px solid rgb(234, 232, 232);
  border-radius: 5px;
  padding: 0 20px;
  height: 40px;
  font-size: 18px;
  background-color: var(--background-color-one);
  transition: all ease-in-out 0.2s;

  &:focus {
    background-color: #fff;
  }
}

input[type=submit]{
    height: 50px;
    width: 200px;
    background-color: var(--action-button-color-two);
    color: #fff;
 
    &:hover{
        opacity: 0.8;
    }
}

.message {
  height: 150px;
  border-radius: 5px;
  overflow: auto;
  line-height: 18px;
  width: calc(100%);
  margin-top: 15px;
  border: 1px solid rgb(234, 232, 232);
  padding: 10px 20px;
  font-size: 18px;
  background-color: var(--background-color-one);
  color: #777777;
  transition: all ease-in-out 0.2s;
  resize: none;

  &:focus {
    background-color: #fff;
    color: #000;
  }

  &:hover {
    border: 1px solid var(--background-color-one);
  }
}

footer {
    height: 56px;
    display: flex;
    justify-content: space-between;
    background-color: var(--header-background);
    
}

footer a {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: var(--font-color-one);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.25s ease-in-out;
  
    &:hover {
      text-decoration: underline;
    }
}

footer p {
    margin-top: 20px;
}

@media (max-width: 800px) {

  .content {
    display: block;
    height: auto;
  }

  h2 {
    font-size: 28px;
  }

  aside h2 {
    font-size: 24px;
  }
}





